<%- include("partials/header") %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Musings</h1>
            <p class="lead">Share your story with the world</p>
            <a href="/blogs/new" class="btn btn-warning">Create Blog</a>
            <a href="/blogs" class="btn btn-success">All Blogs</a>
        </div>
    </div>

<%- include("partials/footer") %>