.blog-container {
    border: 2px solid steelblue;
    border-radius: 10px;
    margin-top: 2em;
}

.blog-container .col-md-2 p, .blog-container .col-md-10 h2{
    margin-top: 0;
    margin-bottom: 0;
}
